[project]
	description = This is a tets repo for git workflow
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akammula
[access "refs/for/refs/*"]
	read = group user/akammula
	push = group user/akammula
	label-Code-Review = -2..+2 group user/akammula
	label-Verified = -1..+1 group user/akammula
	rebase = group user/akammula
	removeReviewer = group user/akammula
	submit = group user/akammula
[access "refs/heads/*"]
	read = group user/akammula
	create = group user/akammula
	push = +force group user/akammula
	pushMerge = group user/akammula
[access "refs/tags/*"]
	push = +force group user/akammula
	pushTag = group user/akammula
	pushSignedTag = group user/akammula
